.card {
  display: flex;
  flex-direction: row;
  min-width: 700px;
}
.thumbnail {
  position: relative;
}
.thumbnail img {
  max-height: 200px;
}
.thumbnail.round img {
  border-radius: 50%;
}
.content {
  width: 50%;
  margin-left: 10px;
}
.content * {
  text-align: start;
}
.sub-title,
.description {
  color: gray;
}
a {
  color: gray;
  text-decoration: none;
}
a:hover {
  color: black;
}
.description {
  margin-top: 10px;
}
.overlay {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.363);
  width: 50%;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  fill: white;
}
.sub-title-item:not(:last-of-type):after {
  content: "•";
  margin: 0 4px;
}
