.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  width: 70%;
  margin: 0 auto;
}

.bigLogo {
  width: 19%;
}
.smallLogo {
  width: 60px;
}
.bigLogo svg {
  height: 30px;
}
.headerContainer {
  background-color: red;
}
@media screen and (min-width: 768px) {
  .headerContainer {
    background-color: transparent;
  }
  .smallLogo {
    display: none;
  }
  .bigLogo {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .bigLogo {
    display: none;
  }
  .smallLogo {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
    margin: 0;
  }
}
