.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
}

.bigLogo {
  width: 19%;
}
.smallLogo {
  width: 60px;
}
.bigLogo svg {
  height: 30px;
}
/* large screen*/
@media screen and (min-width: 768px) {
  .smallLogo {
    display: none;
  }
  .bigLogo {
    display: block;
  }
  .header {
    background-color: transparent;
  }
}
/* small screen*/
@media screen and (max-width: 768px) {
  .bigLogo {
    display: none;
  }
  .smallLogo {
    display: block;
  }
  .header {
    background-color: red;
  }
}
.stickyHeader {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
